@page "/"

@inject NavigationManager nav
@inject IOptions<GalleryBrowserOptions> options

<PageTitle>BSData Gallery</PageTitle>

<div class="pb-2">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="@UriWithQuery(null, null)">Browse</FluentBreadcrumbItem>
        @{
            var galleryName = Gallery ?? options?.Value.DefaultGalleries.FirstOrDefault()?.Name ?? "n/a";
        }
        @if (Repository is { } repoName)
        {
            <FluentBreadcrumbItem Href="@UriWithQuery(Gallery, null)">
                @galleryName
            </FluentBreadcrumbItem>
            <FluentBreadcrumbItem>@repoName</FluentBreadcrumbItem>
        }
        else
        {
            <FluentBreadcrumbItem>@galleryName</FluentBreadcrumbItem>
        }
    </FluentBreadcrumb>
</div>

<div>
    <GalleryBrowserView @bind-Gallery=GalleryValue @bind-Repository=RepositoryValue />
</div>

@code {
    [Parameter, SupplyParameterFromQuery(Name = "gallery")]
    public string? Gallery { get; set; }

    [Parameter, SupplyParameterFromQuery(Name = "repo")]
    public string? Repository { get; set; }

    public string? GalleryValue
    {
        get => Gallery;
        set
        {
            Gallery = value;
            UpdateQuery();
        }
    }

    public string? RepositoryValue
    {
        get => Repository;
        set
        {
            Repository = value;
            UpdateQuery();
        }
    }

    void UpdateQuery()
    {
        nav.NavigateTo(UriWithQuery(Gallery, Repository));
    }

    string UriWithQuery(string? gallery, string? repository)
    {
        return nav.GetUriWithQueryParameters(new Dictionary<string, object?>
        {
            ["gallery"] = gallery,
            ["repo"] = repository,
        });
    }
}